{% extends 'admin_base.html' %}
{% block content%}
    <a href = "/admin-login/dashboard/add-vendor/" type="button" class="btn btn-primary">Add Vendor</button>
    <a href = "/admin-login/dashboard/edit-vendor/" type="button" class="btn btn-primary">Edit Vendor</button>
    <a href = "/admin-login/dashboard/delete-vendor/" type="button" class="btn btn-primary">Delete Vendor</button>
    <a href = "/admin-login/dashboard/vendor-details/" type="button" class="btn btn-primary">Vendor Details</button>
{% endblock content %}